# Markdowns
## Markdowns
### Markdowns
#### markdown

# insert site address
[site](http://ct3.gitam.edu/attendance/student/)

# insert image
![text](https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)

# Python Basics:

python is a begginers language

python is easy to learn.

# Creating Ordered List

1. abs
2. hsdf
     1. a
     2. b

# Unordered list
- abd
- jhj
     - jh
     - jh

#  Bold and Italics

**gitam**

*gitam*

In [1]:
print("Hello world!")

Hello world!

# variable

In [2]:
x=10
y=20
x+y

30

# Rules For Variable
- name should begin with a character
- no special character allowed except underscore(_)

In [3]:
name="Rishitha"
age="19"
print("My name is:",name,"age is:",age)

My name is: Rishitha age is: 19

In [4]:
name=input("enter name")
age=int(input("enter age"))
print("My name is:",name,"age is:",age)

enter nameRishitha
enter age19
My name is: Rishitha age is: 19

In [5]:
x=int(input("enter x"))
y=int(input("enter y"))
print("x+y:",x+y)
print("x-y:",x-y)
print("x*y:",x*y)
print("x%y:",x%y)
print("x/y:",x/y)

enter x5
enter y5
x+y: 10
x-y: 0
x*y: 25
x%y: 0
x/y: 1.0

# Fundamental Datatypes

- int
- float
- complex
- boolean
- string

In [6]:
x=10
y=1.23
z=5+6j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [7]:
c=complex(2,5)
print(c)

(2+5j)

In [8]:
c1=2+3j
c2=3+5j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(5+8j)
(-1-2j)
(-9+19j)

In [10]:
a=10
b=5
a<b

False

# String

In [11]:
s1="abc"
s2="efg"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [12]:
i=100
print(type(i))
s=str(i)
print(type(s))
f=float(i)
print(type(f))

<class 'int'>
<class 'str'>
<class 'float'>

# Length of String

In [13]:
a=1234
print(len(str(a)))

4

In [14]:
n1=100
a = b = c =10
a1,b1,c1=1,2,3
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
10 10 10
1 2 3

# Precedence Of Arth Operators

- paranthesis
- power
- multiplication
- addition

In [15]:
x=1+2**3/4+5
print(x)

8.0

In [16]:
x=1+2**3/4*5
print(x)

11.0

# Operators

## Arithmetic Operators:
- +
- -
- *
- /
- %
- **
- //

In [17]:
x=5
y=10
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

15
-5
50
0.5
5
9765625
0

# Relational Operators
- ==
- !=
- <
- '>'
- <=
- '>'=

In [18]:
x=5
a=x>10
print(a)

False

# Logical Operators
- and
- or
- not

In [20]:
i=100
a1=(i>15)and(i>70)
a2=(i>102)or(i>120)
print(a1)
print(a2)
print(not i)

True
False
False

# Membership Operator
- in
- not in

In [21]:
str1="abc"
print('a' in str1)
print('a' not in str1)

True
False

# Control flow Statements
- conditional statements
- looping statements
## if-else statement
- syntax
### if condition:
> statements<br>
### else:
> statements

In [25]:
# check given number is even or odd
n=int(input("enter a number"))
if n%2==0:
    print("Even")
else:
    print("Odd")

enter a number6
Even

In [28]:
n=int(input("enter a number"))
if n%3==0 and n%5==0:
     print("it is a multiple of 3 and 5")
else:
            print("its not")

enter a number15
it is a multiple of 3 and 5

In [30]:
#check given number is positive,negative or zero
n=int(input("enter a number"))
if n>0:
    print(" it is positive")
elif n<0:
    print("it is negative")
else:
    print("zero")

enter a number-8
it is negative