# Collection of data types
1. List
2. Tuple
3. Set
4. Dictionary

# list:
- one of the data structures in python
- Data structures means to store,sort and search options
- its one commmon data structure in python,the items of list separeted by commas and enclosed by square brackets
# Example
- list1=[1,2,3,4]
- list2==["gitam",1,2,3]

In [6]:
li=[1,8,16,19,2]
print(li)
print(li[2])
print(li[-3])
print(li[2:])
print(li[2:4])
print(li[-3:-1])

[1, 8, 16, 19, 2]
16
16
[16, 19, 2]
[16, 19]
[16, 19]

In [7]:
li=["Gitam",1234,1235,1236,"Hyd"]
print(li)
print(li[0][2])

['Gitam', 1234, 1235, 1236, 'Hyd']
t

In [8]:
del li[3]
print(li)

['Gitam', 1234, 1235, 'Hyd']

In [9]:
# update
li[1]=123
print(li)

['Gitam', 123, 1235, 'Hyd']

In [17]:
# Basic List Functions
li=[1,9,116,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(len(li))
print(sum(li)//len(li))

116
1
156
5
31

In [13]:
li=[1,9,116,25,5,9]
li.append(89)
li.insert(2,56)
li.count(9)
li.index(5)
li.sort()
li.pop()
li.pop(1)
li

[1, 9, 9, 25, 56, 89]

## Del-delete the list item from the list
### Pop-remove last index value
#### Pop(index)-removes the items from specified index

In [4]:
li=[1,9,116,25,5,9]
li1=[76,78,79]
li.extend(li1)
li.reverse()
li

[79, 78, 76, 9, 5, 25, 116, 9, 1]

In [5]:
# function to return the large number from given list
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[19,1,25,45,76]
print(largenumber(li))
print(genericlarge(li,3))

76
25

In [6]:
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n]
li=[19,1,25,45,76]
print(smallnumber(li))
print(genericsmall(li,3))

1
45

## Tuple
- its one common data structure in python,the items of tuple seperated by commas and enclosed by paranthesis()
#### example:
- ti=(1,2,3,4)

## List and Tuple
- lists are mutable-can be changed/modified
- list is used to modify,add,delete,update
- tuples are immutable-cannot be changed
- tuples are used to access data only

In [7]:
t1=(1,2,3,4,54)
t1

(1, 2, 3, 4, 54)

# Dictionaries
1. It works on concept of set unique data
2. Dictionary contains keys and values
3. Each key and value separated by comma
4. Each key is separated from its value with colon(:)

In [9]:
d1={"name":"gitam","email":"gitam@in","address":"hyderabad"}
d1

{'name': 'gitam', 'email': 'gitam@in', 'address': 'hyderabad'}

In [10]:
d1["name"]

'gitam'

In [11]:
d1={"name":"gitam","email":"gitam@in","address":"hyderabad"}
d1["name"]="rishi"
d1

{'name': 'rishi', 'email': 'gitam@in', 'address': 'hyderabad'}

In [15]:
d1["rollno"]="221710311044"
d1

{'name': 'rishi',
 'email': 'gitam@in',
 'address': 'hyderabad',
 'rollno': '221710311044'}

In [16]:
del d1["email"]
d1

{'name': 'rishi', 'address': 'hyderabad', 'rollno': '221710311044'}

In [18]:
d1.keys()

dict_keys(['name', 'address', 'rollno'])

In [19]:
d1.values()

dict_values(['rishi', 'hyderabad', '221710311044'])

In [20]:
d1.items()

dict_items([('name', 'rishi'), ('address', 'hyderabad'), ('rollno', '221710311044')])

# Strings:

In [22]:
s1="python"
print(s1)
print(type(s1))

python
<class 'str'>

In [33]:
s1="python"
print(s1[0])
print(s1[len(s1)-2])
print(s1[1:-1])
print(s1[len(s1)//2])
print(s1[::3])
print(s1[::-1])

p
o
ytho
h
ph
nohtyp

# string built-in methods
- upper
- lower
- isupper
- islower
- istitle
- isnumeric
- isalpha
- isspace

In [40]:
s1='Python'
print(s1.upper())
print(s1.lower())
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())

PYTHON
python
False
False
True
False
True

In [41]:
s1=' '
print(s1.isspace())

True

## String Methods:
- join()
- split()
- replace()

In [42]:
s1="python"
print(" ".join(s1))

p y t h o n

In [43]:
s1="Python is easy to learn"
print(s1.split())

['Python', 'is', 'easy', 'to', 'learn']

In [46]:
s1="Python is easy to learn"
print(s1.replace("is","too"))

Python too easy to learn